.App {
	position: absolute;
	inset: 0;
	color: var(--fg);
	background: var(--bg);
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: space-between;
	transition: .4s ease;
}
