.App {
	position: absolute;
	inset: 0;
	height: 100vh;
	color: var(--fg);
	background: var(--bg);
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: space-between;
	transition: .4s ease;
	overflow-x: hidden;

	.mobile_block {
		position: absolute;
		inset: 0;
		background-color: var(--bg-block);
		height: 100vh;
		z-index: 10;
		display: flex;
		// align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 0 2rem;
		backdrop-filter: blur(10px);
		
		&__smile {
			font-size: 5rem;
		}
	}
	
	@media screen and (min-width: 800px) {
		.mobile_block {
			display: none;
		}
	}
	
	.route_training {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		
		.block {
			display: none;
		}
		
		
		&:focus-visible {
			border: 0;
			outline: 0;
		}
	}

	.index_links,
	.dummydiv {
		flex-grow: 1;
		width: 50%;
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: .5rem;
		animation: fade-in .4s ease forwards;
		font-size: 2rem;
		font-style: italic;

		@keyframes fade-in {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}

		.exit_btn {
			color: var(--fg);
			font-size: 1.2rem;
			margin: .5rem auto 0;
			background-color: var(--bg-btn);
			padding: .7rem 2.5rem;
			border-radius: .6rem;
			transition: .4s ease;

			&:hover {
				color: var(--bg);
				background-color: var(--clr);
				transition: .4s ease;
			}
		}

		.route_link {
			font-family: var(--fc);
			// padding: .5rem 5rem;
			background-color: var(--bg-btn);
			color: var(--fg);
			width: 23rem;
			height: 2.5rem;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: .5rem;
			border-radius: .5rem;
			font-size: 1.15rem;
			text-decoration: none;
			transition: .4s ease;
			font-style: normal;

			&.gridded {
				width: 11.2rem;
			}	

			&:hover {
				background-color: var(--clr);
				color: var(--bg);
				transition: .4s ease;
			}
		}
		
		.link_row {
			display: flex;
			width: 23rem;	
			flex-direction: column;
			gap: .25rem 0;
			
			&__title {
				font-style: normal;
				font-size: 1.2rem;
				text-align: center;
				color: var(--fg-darker);
			}
			
			&__links {
				display: inherit;
				flex-direction: row;
				justify-content: space-between;
			}
		}
	}
}
