.edu_cont {
	flex-grow: 1;
	width: 50%;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	gap: .5rem;
	animation: fade-in .4s ease forwards;
    font-family: var(--fc);
    position: relative;
    
    
    .test {
        width: 100%;
    }

    .result {
        width: 100%;
    }
    
    .level_list {
        display: flex;
        flex-direction: column;
        width: 100%;
		// max-height: 50vh;
		// overflow: scroll;
        
        // grid-template-columns: 1fr 1fr 1fr 1fr;
        
        &__step_block {
            position: relative;
            color: var(--fg-darker);
            width: 100%;
            margin: 1rem 0;
            
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: .1rem;
                background-color: var(--fg-darker);
                bottom: -.2rem;
                border-radius: 10000rem;
            }
        }
        
        &__container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(5rem, 14rem));
            grid-gap: .5rem;
            place-content: center;
            transition: .4s;
            margin: 0 0 1rem;
        }
    
        &__entry {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;        
            justify-content: center;
            font-style: normal;
            font-size: 1.3rem;
            background-color: var(--bg-btn);
            color: var(--fg);
            // width: 13rem;
            height: 2.5rem;
            border-radius: .5rem;
            transition: .4s ease;
            gap: .5rem;

			&__check {
				color: var(--clr);
				transition: .4s;
			}

            &:hover {
                background-color: var(--clr);
                color: var(--bg);
                transition: .4s ease;

				&> .level_list__entry__check {
					color: var(--bg);
					transition: .4s;
				}
            }
        }
    }
}

		.exit_btn {
			color: var(--fg);
			font-size: 1.2rem;
			margin: .5rem auto 0;
			background-color: var(--bg-btn);
			padding: .7rem 2.5rem;
			border-radius: .6rem;
			transition: .4s ease;
            grid-row-end: 0;
            grid-column-end: span 5;

			&:hover {
				color: var(--bg);
				background-color: var(--clr);
				transition: .4s ease;
			}
		}
