.mononoki {
	--fc: 'mononoki';
	--fs: 1.5rem;
}

.roboto_mono {
	--fc: 'Roboto Mono';
	--fs: 1.5rem;
}

.jetbrains_mono {
	--fc: 'JetBrains Mono';
	--fs: 1.5rem;
}

.ubuntu_mono {
	--fc: 'Ubuntu Mono';
	--fs: 1.7rem;
}
