.footer {
	width: 65%;
	margin-inline: auto;
	height: 12vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	transition: .4s ease;
	justify-content: space-between;

	.link {
		color: var(--fg-dark);
		display: flex;
		flex-direction: row;
		gap: .5rem;
		text-decoration: none;
		transition: .4s ease;

		&:hover {
			color: var(--clr);
			transition: .4s ease;
		}
	}

	#codeberg {
		font-weight: 700;
	}

	.author {
		font-style: italic;
		font-weight: 200;
	}
}

.hidden {
	opacity: 0;
	transition: .4s ease;
}
