.head {
	width: 65%;
	margin-inline: auto;
	height: 14vh;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
	justify-content: space-between;
	transition: .4s ease;

	.right_section {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 1rem;

		.title {
			display: flex;
			flex-direction: row;
			gap: .5rem;
			justify-content: center;
			align-items: center;
			color: var(--fg);
			text-decoration: none;

			.icon {
				color: var(--clr);
				width: 2rem;
				height: 2rem;
			}
		}

		.buttons {
			font-family: var(--fc);
			color: var(--fg-dark);
			transition: .4s ease;
			background-color: var(--bg-btn);
			padding: .8rem 1rem;
			border-radius: .6rem;
			display: flex;
			flex-direction: row;
			gap: 1rem;

			&.hidden {
				opacity: 0;
				display: none;
				transition: .4s ease;
			}

			.option {
				display: flex;
				flex-direction: row;
				gap: .5rem;
				align-items: center;

				&__sep {
					background-color: var(--fg-darker);
					width: .1rem;
					height: 1.25rem;
					border-radius: 1000rem;
					margin: 0 0 0 .5rem;
				}

				&__select {
					font-size: .9rem;
					width: 8rem;
					background-color: var(--bg);
					border: 0;
					color: var(--fg);
					font-family: var(--fc);
					padding: .4rem .5rem;
					border-radius: .25rem;
				}
			}

			.head__btn {
				font-family: var(--fc);
				background-color: var(--bg-btn);
				color: var(--fg-dark);
				border: 0;
				padding: 0 .3rem;
				transition: .4s ease;
				font-size: 1rem;

				&:hover,
				&.selected {
					color: var(--clr);
				}
			}
		}

		.advice {
			font-family: 'Open Sans';
			font-weight: 700;
			display: flex;
			flex-direction: row;
			font-size: 1rem;
			gap: .5rem;
			align-items: center;
			width: 100%;
			color: var(--fg-dark);
			margin: .5rem 0 0 2rem;

			&.hidden {
				display: none;
			}

			.advice__button {
				font-family: var(--fc);
				background-color: var(--fg);
				color: var(--bg);
				padding: .1rem .3rem;
				border-radius: .2rem;
			}
		}
	}

	.login_link {
		padding: .5rem 2rem;
		background-color: var(--bg-btn);
		color: var(--fg);
		font-size: 1rem;
		font-family: var(--fc);
		text-decoration: none;
		border-radius: .5rem;
		transition: .4s;
		border: 0;
		display: flex;
		flex-direction: row;
		gap: .5rem;

		&:hover {
			background-color: var(--clr);
			color: var(--bg);
		}
	}

	.userspace {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 1rem;
		align-items: center;
		font-family: var(--fc);
		width: max-content;
		height: 4rem;
		transition: .4s;

		&__user {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			gap: .5rem;
			text-decoration: none;
			color: var(--fg);

			&__icon {
				background-color: var(--bg-btn);
				font-size: 1.2rem;
				width: 2.5rem;
				display: grid;
				place-items: center;
				border-radius: .5rem;
				height: 2.5rem;
			}

			&:hover {
				transition: .4s;
				color: var(--clr);
			}
		}

		.login_link {
			display: none;
		}

		&:hover {
			// width: 15.5rem;

			.login_link { 
				display: flex;
				animation: appear .4s ease forwards;

				@keyframes appear {
				0% {
					opacity: 0;
					transform: translateX(1rem);
				}
				100% {
					opacity: 1;
					transform: 0;
				}
				}
			}
		}
	}
}

.hidden {
	opacity: 0;
	transition: .4s ease;
}
