.result {
	font-family: 'Inter', var(--fc), monospace;
	line-height: 1.75rem;
	width: 50%;
	margin-inline: auto;
	flex-grow: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	font-size: 1.3rem;
	gap: .5rem;
	transition: .4s ease;

	.info {
		display: flex;
		flex-direction: column;

		.info__row {
			display: flex;
			flex-direction: row;
			gap: .5rem;
		}
	}

	.advice {
		font-family: var(--fc), monospace;
		color: var(--fg-darker);
		font-size: 1.1rem;
		align-self: center;
	}

	.btn {
		// width: 10rem;
		padding: 1rem 1.5rem;
		align-self: center;
		font-size: 1.1rem;
		background: var(--bg);
		color: var(--fg-darker);
		font-weight: 700;
		border-radius: .4rem;
		border: 0;
		transition: .4s;
		text-decoration: none;
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: .5rem;
		align-items: center;

		&:hover {
			background: var(--clr);
			color: var(--bg);
			transition: .4s;
		}
	}
}
