.test {
	width: 50%;
	margin-inline: auto;
	flex-grow: 1;
	display: flex;
	// align-items: center;
	flex-direction: column;
	justify-content: center;
	font-size: 1.3rem;
	gap: .5rem;
	transition: .4s ease;

	.timer {
		font-weight: 700;
		color: var(--clr);
	}
	
	.wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: .5rem;
		font-size: 1.5rem;
		font-family: var(--fc);
		height: 7rem;
		overflow: hidden;
		transition: .4s ease;

		.word {
			position: relative;
			color: var(--fg-darker);

			&.wrong {
				text-decoration: 2px underline var(--fg-wrong);
            }
		}

		.typedWord {
			position: absolute;
			top: 0;
			left: 0;
		}
		.right {
			color: var(--fg);
		}
		#active {
			position: relative;
			width: max-content;
		}
		span.wrong {
			color: var(--fg-wrong) !important;
		}
		.extra {
			opacity: 0.6;
		}
		
		#caret {
			transition: left 0.1s ease;
			margin-left: -7.29165px;
			position: absolute;
			font-weight: 700;
			color: var(--clr);
			&.blink {
				animation: blink 1.5s infinite 1s;
				font-weight: 700;
			}
		}
		@keyframes blink {
			0%,
			100% {
				opacity: 1;
			}
			50% {
				opacity: 0;
			}
		}
	}

	.advice {
		font-family: 'Open Sans';
		font-weight: 700;
		display: flex;
		flex-direction: row;
		font-size: .8rem;
		gap: .5rem;
		align-items: center;
		justify-content: center;
		width: 100%;
		color: var(--fg-dark);
		margin: 1rem 0 0;

		.advice__button {
			font-family: var(--fc);
			background-color: var(--fg);
			color: var(--bg);
			padding: .1rem .3rem;
			border-radius: .2rem;
		}
	}

	.restart_btn {
		width: 6rem;
		height: 3rem;
		align-self: center;
		font-size: 1.1rem;
		background: var(--bg);
		color: var(--fg-darker);
		font-weight: 700;
		border-radius: .4rem;
		border: 0;
		transition: .4s;

		&:hover {
			background: var(--clr);
			color: var(--bg);
			transition: .4s;
		}
	}
}
