.test {
	width: 50%;
	margin-inline: auto;
	flex-grow: 1;
	display: flex;
	align-items: start center;
	flex-direction: column;
	justify-content: center;
	font-size: 1.3rem;
	gap: .5rem;
	transition: .4s ease;
	animation: fade-in .4s ease;

	@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
	}

	.timer {
		margin: 8vh 0 0;
		font-weight: 700;
		color: var(--clr);
		opacity: 1;
		transition: .4s ease;
	}

	.hidden {
		opacity: 0;
	}

	.wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: .7rem;
		font-size: var(--fs);
		font-family: var(--fc);
		height: 7rem;
		overflow: hidden;
		transition: .4s ease;

		.word {
			position: relative;
			color: var(--fg-darker);

			&.wrong {
				text-decoration: 2px underline var(--fg-wrong);
			}
		}

		.typedWord {
			position: absolute;
			top: 0;
			left: 0;
		}
		.right {
			color: var(--fg);
		}
		#active {
			position: relative;
			width: max-content;
		}
		span.wrong {
			color: var(--fg-wrong) !important;
		}
		.extra {
			opacity: 0.6;
		}

		#caret {
			transition: left 0.1s ease;
			margin-left: -7.29165px;
			position: absolute;
			font-weight: 700;
			color: var(--clr);
			&.blink {
				animation: blink 1.5s infinite 1s;
				font-weight: 700;
			}
		}
		@keyframes blink {
		0%,
		100% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
		}
	}

	.advice {
		font-family: 'Inter';
		font-weight: 700;
		display: flex;
		flex-direction: row;
		font-size: .8rem;
		gap: .5rem;
		align-items: center;
		justify-content: center;
		width: 100%;
		color: var(--fg-dark);
		margin: 1rem 0 0;

		&.hidden {
			transform: translateY(10rem);
			opacity: 0;
			transition: .4s ease;
		}

		.advice__button {
			font-family: var(--fc);
			background-color: var(--fg);
			color: var(--bg);
			padding: .1rem .3rem;
			border-radius: .2rem;
		}
	}

	.exit_btn {
		color: var(--fg);
		margin: 1rem auto 0;
		background-color: var(--bg-btn);
		padding: .7rem 2.5rem;
		border-radius: .6rem;
		transition: .4s ease;
		border: 0;
		opacity: .5;
		font-size: 1.4rem;

		&:hover {
			opacity: 1;
			color: var(--bg);
			background-color: var(--clr);
			transition: .4s ease;
		}
	}

	.reset_btn {
		color: var(--fg);
		margin: 1rem auto 0;
		font-size: 1.4rem;
		background-color: var(--bg-btn);
		padding: .7rem 2.5rem;
		border-radius: .6rem;
		transition: .4s ease;
		border: 0;
		opacity: .5;
		// animation: move .4s ease forwards;

		// @keyframes move {
		// 0% {
			// transform: translateY(0);
		// }	
		// 100% {
			// transform: translateY(-2vh);
		// }
		// }

		&:hover {
			color: var(--bg);
			background-color: var(--clr);
			transition: .4s ease;
			opacity: 1;
		}
	}
}
