:root {
	--bg-block: hsl(0, 0%, 0%, .7);
}

.tokyonight {
	--bg: #1a1b26;
	--bg-btn: #16161e;
	--fg: #c0caf5;
	--fg-dark: #a9b1d6;
	--fg-darker: #5b6073;
	--fg-wrong: #f7768e; 
	--clr: #7aa2f7;

	// some additional colors
	--cyan: #7dcfff;
	--red: #f7768e;
	--green: #9ece6a;
	--yellow: #e0af68;
	--purple: #9d7cd8;
	--pink: #ff007c;
	--orange: #ff9e64;
	--blue: #7aa2f7;
}

.solarized {
	--bg: #002b36;
	--bg-btn: #00222b;
	--fg: #2aa198;
	--fg-dark: #839496;
	--fg-darker: #5c6e71;
	--fg-wrong: #dc322f;
	--clr: #859900;

	// some additional colors
	--cyan: #2aa198;
	--red: #dc322f;
	--green: #859900;
	--yellow: #b58900;
	--purple: #6c71c4;
	--pink: #d33682;
	--orange: #dc882f;
	--blue: #268bd2;
}

.catppuccin {
	--bg: #1e1e2e;
	--bg-btn: #11111b;
	--fg: #cdd6f4;
	--fg-dark: #a9b1d6;
	--fg-darker: #585b70;
	--fg-wrong: #f38ba8;
	--clr: #f9e2af;

	// some additional colors
	--cyan: #89dceb;
	--red: #f38ba8;
	--green: #a6e3a1;
	--yellow: #f9e2af;
	--purple: #cba6f7;
	--pink: #eba0ac;
	--orange: #fab387;
	--blue: #89b4fa;
}

.gruvbox {
	--bg: #282828;
	--bg-btn: #1d2021;
	--fg: #ebdbb2;
	--fg-dark: #bdae93;
	--fg-darker: #928374;
	--fg-wrong: #cc241d;
	--clr: #d79921;

	// some additional colors
	--cyan: #83a598;
	--red: #cc241d;
	--green: #98971a;
	--yellow: #d78821;
	--purple: #b16286;
	--pink: #d3869b;
	--orange: #d65d0e;
	--blue: #458588;
}

.gruvbox_light {
	--bg: #fbf1c7;
	--bg-btn: #EBD5AC;
	--fg: #1d2021;
	--fg-dark: #3c3836;
	--fg-darker: #504945;
	--fg-wrong: #cc241d;
	--clr: #076678;

	// some additional colors
	--cyan: #83a598;
	--red: #cc241d;
	--green: #98971a;
	--yellow: #d78821;
	--purple: #b16286;
	--pink: #d3869b;
	--orange: #d65d0e;
	--blue: #458588;
}

.nord {
	--bg: #2e3440;
	--bg-btn: #242933;
	--fg: #eceff4;
	--fg-dark: #c6cfde;
	--fg-darker: #7c889d;
	--fg-wrong: #bf616a;
	--clr: #b48ead;

	// some additional colors
	--cyan: #7dcfff;
	--red: #BF616A;
	--green: #A3BE8C;
	--yellow: #EBCB8B;
	--purple: #B48EAD;
	--pink: #C78FA1;
	--orange: #D08770;
	--blue: #5E81AC;
}

.nord_light {
	--bg: #DAE0EC;
	--bg-btn: #eceff4;
	--fg: #1b1f28;
	--fg-dark: #2e3440;
	--fg-darker: #4c566a;
	--fg-wrong: #bf616a;
	--clr: #b48ead;

	// some additional colors
	--cyan: #7dcfff;
	--red: #BF616A;
	--green: #A3BE8C;
	--yellow: #EBCB8B;
	--purple: #B48EAD;
	--pink: #C78FA1;
	--orange: #D08770;
	--blue: #5E81AC;
}

.everforest {
	--bg: #2b3339;
	--bg-btn: #1b242b;
	--fg: #d3c6aa;
	--fg-dark: #a39679;
	--fg-darker: #7f745b;
	--fg-wrong: #e67e80;
	--clr: #a7c080;

	// some additional colors
	--cyan: #7fbbb3;
	--red: #e67e80;
	--green: #a7c080;
	--yellow: #dbbc7f;
	--purple: #d699b6;
	--pink: #D58795;
	--orange: #ff9e64;
	--blue: #7aa2f7;
}

.mellow {
	--bg: #131314;
	--bg-btn: #2a2a2d;
	--fg: #c9c7cd;
	--fg-dark: #9998a8;
	--fg-darker: #757581;
	--fg-wrong: #ea83a5;
	--clr: #e29eca;

	// some additional colors
	--cyan: #82bdbd;
	--red: #ea83a5;
	--green: #90b99f;
	--yellow: #e6b99d;
	--purple: #aca1cf;
	--pink: #e29eca;
	--orange: #f5a191;
	--blue: #8b9fce;
}
