@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', */
    /* 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', */
    /* sans-serif; */
  font-family: 'Inter', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: .4s ease;
  background-color: var(--bg);
  /* overflow: hidden; */
}


@font-face {
	font-family: 'mononoki';
	src: local('mononoki'),
		url('./fonts/mononoki/mononoki-Regular.woff2') format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'mononoki';
	src: local('mononoki'),
		url('./fonts/mononoki/mononoki-Bold.woff2') format('woff2');
	font-weight: 700;
}

@font-face {
	font-family: 'mononoki';
	src: local('mononoki'),
		url('./fonts/mononoki/mononoki-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'mononoki';
	src: local('mononoki'),
		url('./fonts/mononoki/mononoki-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}


@font-face {
	font-family: 'UbuntuMono';
	src: local('Ubuntu Mono'),
		url('./fonts/ubuntu-mono/UbuntuMono-Regular.woff2') format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'UbuntuMono';
	src: local('Ubuntu Mono'),
		url('./fonts/ubuntu-mono/UbuntuMono-Bold.woff2') format('woff2');
	font-weight: 700;
}

@font-face {
	font-family: 'UbuntuMono';
	src: local('Ubuntu Mono'),
		url('./fonts/ubuntu-mono/UbuntuMono-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'UbuntuMono';
	src: local('Ubuntu Mono'),
		url('./fonts/ubuntu-mono/UbuntuMono-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}


@font-face {
	font-family: 'JetBrainsMono';
	src: local('JetBrains Mono'),
		url('./fonts/jetbrainsmono/JetBrainsMono-Regular.woff2') format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'JetBrainsMono';
	src: local('JetBrains Mono'),
		url('./fonts/jetbrainsmono/JetBrainsMono-Bold.woff2') format('woff2');
	font-weight: 700;
}

@font-face {
	font-family: 'JetBrainsMono';
	src: local('JetBrains Mono'),
		url('./fonts/jetbrainsmono/JetBrainsMono-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'JetBrainsMono';
	src: local('JetBrains Mono'),
		url('./fonts/jetbrainsmono/JetBrainsMono-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}


@font-face {
	font-family: 'Inter';
	src: url('./fonts/inter/Inter.var.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'Inter';
	src: url('./fonts/inter/Inter-italic.var.woff2') format('woff2-variations');
	font-style: italic;
}


@font-face {
	font-family: 'RobotoMono';
	src: url('./fonts/roboto-mono/RobotoMono-Regular.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'RobotoMono';
	src: url('./fonts/roboto-mono/RobotoMono-Italic.woff2') format('woff2-variations');
	font-style: italic;
}
